<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="Timestamp Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Timestamp Microservice
      </h1>
    </header>

    <main>
      <p class="bold">Welcome to <a href="https://twitter.com/ChickenN00dle" target="_blank">Chickenn00dle</a>'s Timestamp Microservice.</p>
      <p>Using the provided URL, add date parameters in either Unix or Natural Language formats and the service will return both the Unix and Natural Language dates in JSON format.</p>
      <div class="box">
        <p>
          Example:
        </p>
        <p><strong>
          <a href="https://noodles-timestamp.glitch.me/December%2015,%202015">https://noodles-timestamp.glitch.me/December%2015,%202015</a> or,<br />
          <a href="https://noodles-timestamp.glitch.me/1450137600">https://noodles-timestamp.glitch.me/1450137600</a>
        </strong></p>
        <p>
          Should result in:
        </p>
        <p><strong>
          { "unix": 1450137600, "natural": "December 15, 2015" }
        </strong></p>
      </div>
    </main>

    <footer>
      <a href="https://twitter.com/ChickenN00dle">
        Check me out on Twitter
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
